/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ./src/index.css */
.wrap-text {
  @apply whitespace-pre-wrap overflow-hidden overflow-ellipsis break-words
}

.hidden-wrap {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis
}

.subtitle {
  @apply text-lg font-bold text-primary-gray py-2 border-b-2 border-gray-200 w-48 text-left px-2 mx-2;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-l {
  background-image: linear-gradient(
    to left,
    var(--tw-gradient-from) 5%,
    var(--tw-gradient-to) 95%
  );
}

.bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from) 5%,
    var(--tw-gradient-to) 95%
  );
}

.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}