.type-anim {
  border-right: 2px solid transparent;
  overflow: hidden; /* 多余的文字内容隐藏 */
  white-space: nowrap;
  animation: type-border 0.9s infinite normal,
    type-width 1.5s steps(9); /* 重点 steps() */
}
/* 边框闪烁动画 模拟指针闪烁 */	
@keyframes type-border {
    from {border-right-color: #333;}
    to {border-right-color: transparent;}
}
@keyframes type-width {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}